<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>EditorCanvas.vue - oshiphoto - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="oshiphoto.git Atom Feed" href="../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="oshiphoto.git Atom Feed (tags)" href="../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../"><img src="../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>oshiphoto</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../../log.html">Log</a> | <a href="../../../files.html">Files</a> | <a href="../../../refs.html">Refs</a> | <a href="../../../file/README.md.html">README</a></td></tr></table>
<hr/>
<div id="content">
<p> EditorCanvas.vue (6462B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> &lt;template&gt;
<a href="#l2" class="line" id="l2">      2</a>   &lt;div&gt;
<a href="#l3" class="line" id="l3">      3</a>     &lt;canvas ref=&quot;canvasElement&quot;&gt;&lt;/canvas&gt;
<a href="#l4" class="line" id="l4">      4</a>   &lt;/div&gt;
<a href="#l5" class="line" id="l5">      5</a> &lt;/template&gt;
<a href="#l6" class="line" id="l6">      6</a> 
<a href="#l7" class="line" id="l7">      7</a> &lt;script setup&gt;
<a href="#l8" class="line" id="l8">      8</a> import { ref, onMounted } from &#39;vue&#39;;
<a href="#l9" class="line" id="l9">      9</a> import { Canvas, FabricImage, StaticCanvas } from &#39;fabric&#39;;
<a href="#l10" class="line" id="l10">     10</a> 
<a href="#l11" class="line" id="l11">     11</a> const canvasElement = ref(null);
<a href="#l12" class="line" id="l12">     12</a> let fabricCanvas = null;
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> onMounted(() =&gt; {
<a href="#l15" class="line" id="l15">     15</a>   if (canvasElement.value) {
<a href="#l16" class="line" id="l16">     16</a>     fabricCanvas = new Canvas(canvasElement.value, {
<a href="#l17" class="line" id="l17">     17</a>       width: 1,
<a href="#l18" class="line" id="l18">     18</a>       height: 1,
<a href="#l19" class="line" id="l19">     19</a>       backgroundColor: &#39;transparent&#39;
<a href="#l20" class="line" id="l20">     20</a>     });
<a href="#l21" class="line" id="l21">     21</a>     console.log(&#39;Fabric.jsのCanvasを初期化しました&#39;);
<a href="#l22" class="line" id="l22">     22</a>   } else {
<a href="#l23" class="line" id="l23">     23</a>     console.error(&#39;onMounted: canvasElement が見つかりません&#39;);
<a href="#l24" class="line" id="l24">     24</a>   }
<a href="#l25" class="line" id="l25">     25</a> });
<a href="#l26" class="line" id="l26">     26</a> 
<a href="#l27" class="line" id="l27">     27</a> const addOshiImage = (imageUrl) =&gt; {
<a href="#l28" class="line" id="l28">     28</a>   if (!fabricCanvas) return;
<a href="#l29" class="line" id="l29">     29</a>   console.log(&#39;addOshiImage が呼ばれました&#39;);
<a href="#l30" class="line" id="l30">     30</a>   
<a href="#l31" class="line" id="l31">     31</a>   const imgElement = new Image();
<a href="#l32" class="line" id="l32">     32</a>   imgElement.onload = () =&gt; {
<a href="#l33" class="line" id="l33">     33</a>     console.log(&#39;推し画像の読み込み成功 (Image.onload)&#39;);
<a href="#l34" class="line" id="l34">     34</a>     const fabricImg = new FabricImage(imgElement);
<a href="#l35" class="line" id="l35">     35</a>     
<a href="#l36" class="line" id="l36">     36</a>     // Canvasのサイズに対して、いい感じのサイズに調整
<a href="#l37" class="line" id="l37">     37</a>     // (例: Canvasの幅の 1/3 サイズにする)
<a href="#l38" class="line" id="l38">     38</a>     const scale = (fabricCanvas.width * 0.33) / imgElement.naturalWidth;
<a href="#l39" class="line" id="l39">     39</a>     
<a href="#l40" class="line" id="l40">     40</a>     fabricImg.set({
<a href="#l41" class="line" id="l41">     41</a>       left: 100,
<a href="#l42" class="line" id="l42">     42</a>       top: 100,
<a href="#l43" class="line" id="l43">     43</a>       scaleX: scale,
<a href="#l44" class="line" id="l44">     44</a>       scaleY: scale,
<a href="#l45" class="line" id="l45">     45</a>     });
<a href="#l46" class="line" id="l46">     46</a>     
<a href="#l47" class="line" id="l47">     47</a>     fabricCanvas.add(fabricImg);
<a href="#l48" class="line" id="l48">     48</a>     fabricCanvas.renderAll();
<a href="#l49" class="line" id="l49">     49</a>     console.log(&#39;「推し」画像を追加しました&#39;);
<a href="#l50" class="line" id="l50">     50</a>   };
<a href="#l51" class="line" id="l51">     51</a>   imgElement.onerror = (err) =&gt; { /* ... (省略) ... */ };
<a href="#l52" class="line" id="l52">     52</a>   imgElement.src = imageUrl;
<a href="#l53" class="line" id="l53">     53</a> };
<a href="#l54" class="line" id="l54">     54</a> 
<a href="#l55" class="line" id="l55">     55</a> const resizeAndSetBackground = (dataUrl, imgElement, containerWidth) =&gt; {
<a href="#l56" class="line" id="l56">     56</a>   if (!fabricCanvas) {
<a href="#l57" class="line" id="l57">     57</a>     console.error(&#39;resizeAndSetBackground: fabricCanvas が初期化されていません&#39;);
<a href="#l58" class="line" id="l58">     58</a>     return;
<a href="#l59" class="line" id="l59">     59</a>   }
<a href="#l60" class="line" id="l60">     60</a>   console.log(&#39;resizeAndSetBackground が呼ばれました&#39;);
<a href="#l61" class="line" id="l61">     61</a> 
<a href="#l62" class="line" id="l62">     62</a>   // 1. 新しいCanvasのサイズを計算
<a href="#l63" class="line" id="l63">     63</a>   const imgRatio = imgElement.naturalHeight / imgElement.naturalWidth;
<a href="#l64" class="line" id="l64">     64</a>   
<a href="#l65" class="line" id="l65">     65</a>   // 親コンテナの幅(containerWidth)をそのままCanvasの幅として使用します
<a href="#l66" class="line" id="l66">     66</a>   const newWidth = containerWidth;
<a href="#l67" class="line" id="l67">     67</a>   const newHeight = newWidth * imgRatio;
<a href="#l68" class="line" id="l68">     68</a> 
<a href="#l69" class="line" id="l69">     69</a>   // 2. Fabric.jsのCanvasにサイズをセット
<a href="#l70" class="line" id="l70">     70</a>   fabricCanvas.setDimensions({
<a href="#l71" class="line" id="l71">     71</a>     width: newWidth,
<a href="#l72" class="line" id="l72">     72</a>     height: newHeight
<a href="#l73" class="line" id="l73">     73</a>   });
<a href="#l74" class="line" id="l74">     74</a>   
<a href="#l75" class="line" id="l75">     75</a>   // 3. &lt;img&gt; から FabricImage を作成
<a href="#l76" class="line" id="l76">     76</a>   const fabricImg = new FabricImage(imgElement);
<a href="#l77" class="line" id="l77">     77</a> 
<a href="#l78" class="line" id="l78">     78</a>   // 4. 背景としてセット
<a href="#l79" class="line" id="l79">     79</a>   fabricCanvas.backgroundColor = &#39;transparent&#39;; // 以前の背景色をクリア
<a href="#l80" class="line" id="l80">     80</a>   fabricCanvas.backgroundImage = fabricImg;
<a href="#l81" class="line" id="l81">     81</a>   
<a href="#l82" class="line" id="l82">     82</a>   // 5. 画像をCanvasの幅にフィットさせる
<a href="#l83" class="line" id="l83">     83</a>   fabricImg.scaleToWidth(newWidth);
<a href="#l84" class="line" id="l84">     84</a> 
<a href="#l85" class="line" id="l85">     85</a>   // 6. 変更をCanvasに反映
<a href="#l86" class="line" id="l86">     86</a>   fabricCanvas.renderAll();
<a href="#l87" class="line" id="l87">     87</a> 
<a href="#l88" class="line" id="l88">     88</a>   console.log(`Canvasをリサイズしました: ${newWidth} x ${newHeight}`);
<a href="#l89" class="line" id="l89">     89</a> };
<a href="#l90" class="line" id="l90">     90</a> 
<a href="#l91" class="line" id="l91">     91</a> const deleteActiveObject = () =&gt; {
<a href="#l92" class="line" id="l92">     92</a>   if (!fabricCanvas) return;
<a href="#l93" class="line" id="l93">     93</a>   const activeObject = fabricCanvas.getActiveObject();
<a href="#l94" class="line" id="l94">     94</a>   if (activeObject) {
<a href="#l95" class="line" id="l95">     95</a>     fabricCanvas.remove(activeObject);
<a href="#l96" class="line" id="l96">     96</a>     fabricCanvas.renderAll();
<a href="#l97" class="line" id="l97">     97</a>   }
<a href="#l98" class="line" id="l98">     98</a> };
<a href="#l99" class="line" id="l99">     99</a> 
<a href="#l100" class="line" id="l100">    100</a> const exportOriginalSizeDataURL = (originalImageElement) =&gt; {
<a href="#l101" class="line" id="l101">    101</a>   try {
<a href="#l102" class="line" id="l102">    102</a>     if (!fabricCanvas || !originalImageElement) {
<a href="#l103" class="line" id="l103">    103</a>       console.error(&#39;exportOriginalSizeDataURL: 引数が不足しています&#39;);
<a href="#l104" class="line" id="l104">    104</a>       return null;
<a href="#l105" class="line" id="l105">    105</a>     }
<a href="#l106" class="line" id="l106">    106</a> 
<a href="#l107" class="line" id="l107">    107</a>     // 1. オリジナル解像度
<a href="#l108" class="line" id="l108">    108</a>     const originalWidth = originalImageElement.naturalWidth;
<a href="#l109" class="line" id="l109">    109</a>     const originalHeight = originalImageElement.naturalHeight;
<a href="#l110" class="line" id="l110">    110</a> 
<a href="#l111" class="line" id="l111">    111</a>     // 2. 現在の表示サイズ
<a href="#l112" class="line" id="l112">    112</a>     const currentWidth = fabricCanvas.width;
<a href="#l113" class="line" id="l113">    113</a> 
<a href="#l114" class="line" id="l114">    114</a>     // 3. スケーリング比率
<a href="#l115" class="line" id="l115">    115</a>     const ratio = originalWidth / currentWidth;
<a href="#l116" class="line" id="l116">    116</a>     
<a href="#l117" class="line" id="l117">    117</a>     if (ratio &lt;= 0 || !isFinite(ratio)) {
<a href="#l118" class="line" id="l118">    118</a>       console.error(&#39;無効なスケーリング比率です&#39;, ratio);
<a href="#l119" class="line" id="l119">    119</a>       return null;
<a href="#l120" class="line" id="l120">    120</a>     }
<a href="#l121" class="line" id="l121">    121</a> 
<a href="#l122" class="line" id="l122">    122</a>     // 4. メモリ上に元サイズの StaticCanvas を作成
<a href="#l123" class="line" id="l123">    123</a>     const staticCanvas = new StaticCanvas(null, {
<a href="#l124" class="line" id="l124">    124</a>       width: originalWidth,
<a href="#l125" class="line" id="l125">    125</a>       height: originalHeight
<a href="#l126" class="line" id="l126">    126</a>     });
<a href="#l127" class="line" id="l127">    127</a> 
<a href="#l128" class="line" id="l128">    128</a>     // 5. 背景画像を手動で「再構築」
<a href="#l129" class="line" id="l129">    129</a>     const bgImage = fabricCanvas.backgroundImage;
<a href="#l130" class="line" id="l130">    130</a>     if (bgImage) {
<a href="#l131" class="line" id="l131">    131</a>       // getElement() で &lt;img&gt; 要素を取得
<a href="#l132" class="line" id="l132">    132</a>       const bgImgElement = bgImage.getElement();
<a href="#l133" class="line" id="l133">    133</a>       const newBgScale = bgImage.scaleX * ratio;
<a href="#l134" class="line" id="l134">    134</a>       
<a href="#l135" class="line" id="l135">    135</a>       // &lt;img&gt; 要素から新しい FabricImage を作成
<a href="#l136" class="line" id="l136">    136</a>       const newBg = new FabricImage(bgImgElement, {
<a href="#l137" class="line" id="l137">    137</a>         scaleX: newBgScale,
<a href="#l138" class="line" id="l138">    138</a>         scaleY: newBgScale
<a href="#l139" class="line" id="l139">    139</a>       });
<a href="#l140" class="line" id="l140">    140</a>       staticCanvas.backgroundImage = newBg;
<a href="#l141" class="line" id="l141">    141</a>     }
<a href="#l142" class="line" id="l142">    142</a> 
<a href="#l143" class="line" id="l143">    143</a>     // 6. オブジェクト（推し）を個別に「再構築」
<a href="#l144" class="line" id="l144">    144</a>     const objects = fabricCanvas.getObjects();
<a href="#l145" class="line" id="l145">    145</a>     if (objects.length &gt; 0) {
<a href="#l146" class="line" id="l146">    146</a>       objects.forEach(obj =&gt; {
<a href="#l147" class="line" id="l147">    147</a>         // 7. &lt;img&gt; 要素を取得 (FabricImage のみ)
<a href="#l148" class="line" id="l148">    148</a>         if (obj.type === &#39;image&#39; &amp;&amp; obj.getElement) {
<a href="#l149" class="line" id="l149">    149</a>           const oshiImgElement = obj.getElement();
<a href="#l150" class="line" id="l150">    150</a>           
<a href="#l151" class="line" id="l151">    151</a>           // 8. &lt;img&gt; とスケーリング済みのプロパティから新しい FabricImage を作成
<a href="#l152" class="line" id="l152">    152</a>           const newOshi = new FabricImage(oshiImgElement, {
<a href="#l153" class="line" id="l153">    153</a>             // スケーリングするプロパティ
<a href="#l154" class="line" id="l154">    154</a>             left: obj.left * ratio,
<a href="#l155" class="line" id="l155">    155</a>             top: obj.top * ratio,
<a href="#l156" class="line" id="l156">    156</a>             scaleX: obj.scaleX * ratio,
<a href="#l157" class="line" id="l157">    157</a>             scaleY: obj.scaleY * ratio,
<a href="#l158" class="line" id="l158">    158</a>             
<a href="#l159" class="line" id="l159">    159</a>             // そのままコピーするプロパティ
<a href="#l160" class="line" id="l160">    160</a>             angle: obj.angle,
<a href="#l161" class="line" id="l161">    161</a>             flipX: obj.flipX,
<a href="#l162" class="line" id="l162">    162</a>             flipY: obj.flipY,
<a href="#l163" class="line" id="l163">    163</a>             skewX: obj.skewX,
<a href="#l164" class="line" id="l164">    164</a>             skewY: obj.skewY,
<a href="#l165" class="line" id="l165">    165</a>             originX: obj.originX,
<a href="#l166" class="line" id="l166">    166</a>             originY: obj.originY,
<a href="#l167" class="line" id="l167">    167</a>             // ... (他にも必要なプロパティがあればここに追加)
<a href="#l168" class="line" id="l168">    168</a>           });
<a href="#l169" class="line" id="l169">    169</a>           
<a href="#l170" class="line" id="l170">    170</a>           // 9. StaticCanvas に追加
<a href="#l171" class="line" id="l171">    171</a>           staticCanvas.add(newOshi);
<a href="#l172" class="line" id="l172">    172</a>         }
<a href="#l173" class="line" id="l173">    173</a>       });
<a href="#l174" class="line" id="l174">    174</a>     }
<a href="#l175" class="line" id="l175">    175</a> 
<a href="#l176" class="line" id="l176">    176</a>     // 10. 最終描画
<a href="#l177" class="line" id="l177">    177</a>     staticCanvas.renderAll();
<a href="#l178" class="line" id="l178">    178</a> 
<a href="#l179" class="line" id="l179">    179</a>     // 11. 高解像度のData URLを生成
<a href="#l180" class="line" id="l180">    180</a>     const dataUrl = staticCanvas.toDataURL({
<a href="#l181" class="line" id="l181">    181</a>       format: &#39;png&#39;,
<a href="#l182" class="line" id="l182">    182</a>       quality: 1.0
<a href="#l183" class="line" id="l183">    183</a>     });
<a href="#l184" class="line" id="l184">    184</a> 
<a href="#l185" class="line" id="l185">    185</a>     // 12. メモリ解放
<a href="#l186" class="line" id="l186">    186</a>     staticCanvas.dispose();
<a href="#l187" class="line" id="l187">    187</a> 
<a href="#l188" class="line" id="l188">    188</a>     return dataUrl; // ★ 成功パス
<a href="#l189" class="line" id="l189">    189</a> 
<a href="#l190" class="line" id="l190">    190</a>   } catch (error) {
<a href="#l191" class="line" id="l191">    191</a>     console.error(&#39;exportOriginalSizeDataURL 内部でエラー:&#39;, error);
<a href="#l192" class="line" id="l192">    192</a>     return null; // ★ 失敗パス
<a href="#l193" class="line" id="l193">    193</a>   }
<a href="#l194" class="line" id="l194">    194</a> };
<a href="#l195" class="line" id="l195">    195</a> 
<a href="#l196" class="line" id="l196">    196</a> defineExpose({
<a href="#l197" class="line" id="l197">    197</a>   resizeAndSetBackground,
<a href="#l198" class="line" id="l198">    198</a>   addOshiImage,
<a href="#l199" class="line" id="l199">    199</a>   deleteActiveObject,
<a href="#l200" class="line" id="l200">    200</a>   exportOriginalSizeDataURL
<a href="#l201" class="line" id="l201">    201</a> });
<a href="#l202" class="line" id="l202">    202</a> &lt;/script&gt;
<a href="#l203" class="line" id="l203">    203</a> 
<a href="#l204" class="line" id="l204">    204</a> &lt;style scoped&gt;
<a href="#l205" class="line" id="l205">    205</a> /*
<a href="#l206" class="line" id="l206">    206</a>   &lt;canvas&gt; タグを囲むラッパー（自動生成）に
<a href="#l207" class="line" id="l207">    207</a>   スタイルを適用するため :deep() を使います
<a href="#l208" class="line" id="l208">    208</a> */
<a href="#l209" class="line" id="l209">    209</a> :deep(.canvas-container) {
<a href="#l210" class="line" id="l210">    210</a>   /*
<a href="#l211" class="line" id="l211">    211</a>     親要素 (App.vueの .canvas-wrapper) の
<a href="#l212" class="line" id="l212">    212</a>     サイズに追従するようにします
<a href="#l213" class="line" id="l213">    213</a>   */
<a href="#l214" class="line" id="l214">    214</a>   max-width: 100%;
<a href="#l215" class="line" id="l215">    215</a>   max-height: 100%;
<a href="#l216" class="line" id="l216">    216</a> 
<a href="#l217" class="line" id="l217">    217</a>   /* スマホ画面で縮小表示されたときもくっきりさせる */
<a href="#l218" class="line" id="l218">    218</a>   image-rendering: -webkit-optimize-contrast;
<a href="#l219" class="line" id="l219">    219</a>   image-rendering: crisp-edges;
<a href="#l220" class="line" id="l220">    220</a> }
<a href="#l221" class="line" id="l221">    221</a> &lt;/style&gt;
</pre>
</div>
</body>
</html>
