<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>index.tsx - timetable-app - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="timetable-app.git Atom Feed" href="../../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="timetable-app.git Atom Feed (tags)" href="../../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../../"><img src="../../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>timetable-app</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../../../../log.html">Log</a> | <a href="../../../../../files.html">Files</a> | <a href="../../../../../refs.html">Refs</a> | <a href="../../../../../file/README.md.html">README</a> | <a href="../../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> index.tsx (3133B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> import { Link as MuiLink } from &#39;@mui/material&#39;;
<a href="#l2" class="line" id="l2">      2</a> import { styled } from &#39;@mui/material/styles&#39;;
<a href="#l3" class="line" id="l3">      3</a> import { clsx } from &#39;clsx&#39;;
<a href="#l4" class="line" id="l4">      4</a> import NextLink from &#39;next/link&#39;;
<a href="#l5" class="line" id="l5">      5</a> import { useRouter } from &#39;next/router&#39;;
<a href="#l6" class="line" id="l6">      6</a> import * as React from &#39;react&#39;;
<a href="#l7" class="line" id="l7">      7</a> 
<a href="#l8" class="line" id="l8">      8</a> import type { LinkProps as MuiLinkProps } from &#39;@mui/material/Link&#39;;
<a href="#l9" class="line" id="l9">      9</a> import type { LinkProps as NextLinkProps } from &#39;next/link&#39;;
<a href="#l10" class="line" id="l10">     10</a> 
<a href="#l11" class="line" id="l11">     11</a> // Add support for the sx prop for consistency with the other branches.
<a href="#l12" class="line" id="l12">     12</a> const Anchor = styled(&#39;a&#39;)({});
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> interface NextLinkComposedProps
<a href="#l15" class="line" id="l15">     15</a> 	extends Omit&lt;React.AnchorHTMLAttributes&lt;HTMLAnchorElement&gt;, &#39;href&#39;&gt;,
<a href="#l16" class="line" id="l16">     16</a> 		Omit&lt;
<a href="#l17" class="line" id="l17">     17</a> 			NextLinkProps,
<a href="#l18" class="line" id="l18">     18</a> 			&#39;href&#39; | &#39;as&#39; | &#39;onClick&#39; | &#39;onMouseEnter&#39; | &#39;onTouchStart&#39;
<a href="#l19" class="line" id="l19">     19</a> 		&gt; {
<a href="#l20" class="line" id="l20">     20</a> 	to: NextLinkProps[&#39;href&#39;];
<a href="#l21" class="line" id="l21">     21</a> 	linkAs?: NextLinkProps[&#39;as&#39;];
<a href="#l22" class="line" id="l22">     22</a> }
<a href="#l23" class="line" id="l23">     23</a> 
<a href="#l24" class="line" id="l24">     24</a> export const NextLinkComposed = React.forwardRef&lt;
<a href="#l25" class="line" id="l25">     25</a> 	HTMLAnchorElement,
<a href="#l26" class="line" id="l26">     26</a> 	NextLinkComposedProps
<a href="#l27" class="line" id="l27">     27</a> &gt;(function NextLinkComposed(props, ref) {
<a href="#l28" class="line" id="l28">     28</a> 	const {
<a href="#l29" class="line" id="l29">     29</a> 		to,
<a href="#l30" class="line" id="l30">     30</a> 		linkAs,
<a href="#l31" class="line" id="l31">     31</a> 		replace,
<a href="#l32" class="line" id="l32">     32</a> 		scroll,
<a href="#l33" class="line" id="l33">     33</a> 		shallow,
<a href="#l34" class="line" id="l34">     34</a> 		prefetch,
<a href="#l35" class="line" id="l35">     35</a> 		legacyBehavior = true,
<a href="#l36" class="line" id="l36">     36</a> 		locale,
<a href="#l37" class="line" id="l37">     37</a> 		...other
<a href="#l38" class="line" id="l38">     38</a> 	} = props;
<a href="#l39" class="line" id="l39">     39</a> 
<a href="#l40" class="line" id="l40">     40</a> 	return (
<a href="#l41" class="line" id="l41">     41</a> 		&lt;NextLink
<a href="#l42" class="line" id="l42">     42</a> 			href={to}
<a href="#l43" class="line" id="l43">     43</a> 			prefetch={prefetch}
<a href="#l44" class="line" id="l44">     44</a> 			as={linkAs}
<a href="#l45" class="line" id="l45">     45</a> 			replace={replace}
<a href="#l46" class="line" id="l46">     46</a> 			scroll={scroll}
<a href="#l47" class="line" id="l47">     47</a> 			shallow={shallow}
<a href="#l48" class="line" id="l48">     48</a> 			passHref
<a href="#l49" class="line" id="l49">     49</a> 			locale={locale}
<a href="#l50" class="line" id="l50">     50</a> 			legacyBehavior={legacyBehavior}
<a href="#l51" class="line" id="l51">     51</a> 		&gt;
<a href="#l52" class="line" id="l52">     52</a> 			&lt;Anchor ref={ref} {...other} /&gt;
<a href="#l53" class="line" id="l53">     53</a> 		&lt;/NextLink&gt;
<a href="#l54" class="line" id="l54">     54</a> 	);
<a href="#l55" class="line" id="l55">     55</a> });
<a href="#l56" class="line" id="l56">     56</a> 
<a href="#l57" class="line" id="l57">     57</a> export type LinkProps = {
<a href="#l58" class="line" id="l58">     58</a> 	activeClassName?: string;
<a href="#l59" class="line" id="l59">     59</a> 	as?: NextLinkProps[&#39;as&#39;];
<a href="#l60" class="line" id="l60">     60</a> 	href: NextLinkProps[&#39;href&#39;];
<a href="#l61" class="line" id="l61">     61</a> 	linkAs?: NextLinkProps[&#39;as&#39;]; // Useful when the as prop is shallow by styled().
<a href="#l62" class="line" id="l62">     62</a> 	noLinkStyle?: boolean;
<a href="#l63" class="line" id="l63">     63</a> } &amp; Omit&lt;NextLinkComposedProps, &#39;to&#39; | &#39;linkAs&#39; | &#39;href&#39;&gt; &amp;
<a href="#l64" class="line" id="l64">     64</a> 	Omit&lt;MuiLinkProps, &#39;href&#39;&gt;;
<a href="#l65" class="line" id="l65">     65</a> 
<a href="#l66" class="line" id="l66">     66</a> // A styled version of the Next.js Link component:
<a href="#l67" class="line" id="l67">     67</a> // https://nextjs.org/docs/api-reference/next/link
<a href="#l68" class="line" id="l68">     68</a> const Link = React.forwardRef&lt;HTMLAnchorElement, LinkProps&gt;(
<a href="#l69" class="line" id="l69">     69</a> 	function Link(props, ref) {
<a href="#l70" class="line" id="l70">     70</a> 		const {
<a href="#l71" class="line" id="l71">     71</a> 			activeClassName = &#39;active&#39;,
<a href="#l72" class="line" id="l72">     72</a> 			as,
<a href="#l73" class="line" id="l73">     73</a> 			className: classNameProps,
<a href="#l74" class="line" id="l74">     74</a> 			href,
<a href="#l75" class="line" id="l75">     75</a> 			legacyBehavior,
<a href="#l76" class="line" id="l76">     76</a> 			linkAs: linkAsProp,
<a href="#l77" class="line" id="l77">     77</a> 			locale,
<a href="#l78" class="line" id="l78">     78</a> 			noLinkStyle,
<a href="#l79" class="line" id="l79">     79</a> 			prefetch,
<a href="#l80" class="line" id="l80">     80</a> 			replace,
<a href="#l81" class="line" id="l81">     81</a> 			// eslint-disable-next-line @typescript-eslint/no-unused-vars
<a href="#l82" class="line" id="l82">     82</a> 			role, // Link don&#39;t have roles.
<a href="#l83" class="line" id="l83">     83</a> 			scroll,
<a href="#l84" class="line" id="l84">     84</a> 			shallow,
<a href="#l85" class="line" id="l85">     85</a> 			...other
<a href="#l86" class="line" id="l86">     86</a> 		} = props;
<a href="#l87" class="line" id="l87">     87</a> 
<a href="#l88" class="line" id="l88">     88</a> 		const router = useRouter();
<a href="#l89" class="line" id="l89">     89</a> 		const pathname = typeof href === &#39;string&#39; ? href : href.pathname;
<a href="#l90" class="line" id="l90">     90</a> 		const className = clsx(classNameProps, {
<a href="#l91" class="line" id="l91">     91</a> 			[activeClassName]: router.pathname === pathname &amp;&amp; activeClassName,
<a href="#l92" class="line" id="l92">     92</a> 		});
<a href="#l93" class="line" id="l93">     93</a> 
<a href="#l94" class="line" id="l94">     94</a> 		const isExternal =
<a href="#l95" class="line" id="l95">     95</a> 			typeof href === &#39;string&#39; &amp;&amp;
<a href="#l96" class="line" id="l96">     96</a> 			(href.indexOf(&#39;http&#39;) === 0 || href.indexOf(&#39;mailto:&#39;) === 0);
<a href="#l97" class="line" id="l97">     97</a> 
<a href="#l98" class="line" id="l98">     98</a> 		if (isExternal) {
<a href="#l99" class="line" id="l99">     99</a> 			if (noLinkStyle) {
<a href="#l100" class="line" id="l100">    100</a> 				return (
<a href="#l101" class="line" id="l101">    101</a> 					&lt;Anchor className={className} href={href} ref={ref} {...other} /&gt;
<a href="#l102" class="line" id="l102">    102</a> 				);
<a href="#l103" class="line" id="l103">    103</a> 			}
<a href="#l104" class="line" id="l104">    104</a> 
<a href="#l105" class="line" id="l105">    105</a> 			return &lt;MuiLink className={className} href={href} ref={ref} {...other} /&gt;;
<a href="#l106" class="line" id="l106">    106</a> 		}
<a href="#l107" class="line" id="l107">    107</a> 
<a href="#l108" class="line" id="l108">    108</a> 		const linkAs = linkAsProp || as;
<a href="#l109" class="line" id="l109">    109</a> 		const nextjsProps = {
<a href="#l110" class="line" id="l110">    110</a> 			to: href,
<a href="#l111" class="line" id="l111">    111</a> 			linkAs,
<a href="#l112" class="line" id="l112">    112</a> 			replace,
<a href="#l113" class="line" id="l113">    113</a> 			scroll,
<a href="#l114" class="line" id="l114">    114</a> 			shallow,
<a href="#l115" class="line" id="l115">    115</a> 			prefetch,
<a href="#l116" class="line" id="l116">    116</a> 			legacyBehavior,
<a href="#l117" class="line" id="l117">    117</a> 			locale,
<a href="#l118" class="line" id="l118">    118</a> 		};
<a href="#l119" class="line" id="l119">    119</a> 
<a href="#l120" class="line" id="l120">    120</a> 		if (noLinkStyle) {
<a href="#l121" class="line" id="l121">    121</a> 			return (
<a href="#l122" class="line" id="l122">    122</a> 				&lt;NextLinkComposed
<a href="#l123" class="line" id="l123">    123</a> 					className={className}
<a href="#l124" class="line" id="l124">    124</a> 					ref={ref}
<a href="#l125" class="line" id="l125">    125</a> 					{...nextjsProps}
<a href="#l126" class="line" id="l126">    126</a> 					{...other}
<a href="#l127" class="line" id="l127">    127</a> 				/&gt;
<a href="#l128" class="line" id="l128">    128</a> 			);
<a href="#l129" class="line" id="l129">    129</a> 		}
<a href="#l130" class="line" id="l130">    130</a> 
<a href="#l131" class="line" id="l131">    131</a> 		return (
<a href="#l132" class="line" id="l132">    132</a> 			&lt;MuiLink
<a href="#l133" class="line" id="l133">    133</a> 				component={NextLinkComposed}
<a href="#l134" class="line" id="l134">    134</a> 				className={className}
<a href="#l135" class="line" id="l135">    135</a> 				ref={ref}
<a href="#l136" class="line" id="l136">    136</a> 				{...nextjsProps}
<a href="#l137" class="line" id="l137">    137</a> 				{...other}
<a href="#l138" class="line" id="l138">    138</a> 			/&gt;
<a href="#l139" class="line" id="l139">    139</a> 		);
<a href="#l140" class="line" id="l140">    140</a> 	},
<a href="#l141" class="line" id="l141">    141</a> );
<a href="#l142" class="line" id="l142">    142</a> 
<a href="#l143" class="line" id="l143">    143</a> export default Link;
</pre>
</div>
</body>
</html>
