<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SetMyClassFab.tsx - timetable-app - Unnamed repository; edit this file &#39;description&#39; to name the repository.
</title>
<link rel="icon" type="image/png" href="../../../../../../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="timetable-app.git Atom Feed" href="../../../../../../atom.xml" />
<link rel="alternate" type="application/atom+xml" title="timetable-app.git Atom Feed (tags)" href="../../../../../../tags.xml" />
<link rel="stylesheet" type="text/css" href="../../../../../../style.css" />
</head>
<body>
<table><tr><td><a href="../../../../../../../"><img src="../../../../../../logo.png" alt="" width="32" height="32" /></a></td><td><h1>timetable-app</h1><span class="desc">Unnamed repository; edit this file &#39;description&#39; to name the repository.
</span></td></tr><tr><td></td><td>
<a href="../../../../../../log.html">Log</a> | <a href="../../../../../../files.html">Files</a> | <a href="../../../../../../refs.html">Refs</a> | <a href="../../../../../../file/README.md.html">README</a> | <a href="../../../../../../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<p> SetMyClassFab.tsx (1595B)</p><hr/><pre id="blob">
<a href="#l1" class="line" id="l1">      1</a> import { useDisclosure } from &#39;@mantine/hooks&#39;;
<a href="#l2" class="line" id="l2">      2</a> import SchoolIcon from &#39;@mui/icons-material/School&#39;;
<a href="#l3" class="line" id="l3">      3</a> import { Fab, Zoom } from &#39;@mui/material&#39;;
<a href="#l4" class="line" id="l4">      4</a> import { useAtomValue } from &#39;jotai&#39;;
<a href="#l5" class="line" id="l5">      5</a> import { useSnackbar } from &#39;notistack&#39;;
<a href="#l6" class="line" id="l6">      6</a> // TODO: mantine hooks で置き換え（usehooks-ts撲滅）
<a href="#l7" class="line" id="l7">      7</a> import { useTimeout } from &#39;usehooks-ts&#39;;
<a href="#l8" class="line" id="l8">      8</a> 
<a href="#l9" class="line" id="l9">      9</a> import useIsPwa from &#39;client/hooks/useIsPwa&#39;;
<a href="#l10" class="line" id="l10">     10</a> import useMyClass from &#39;client/hooks/useMyClass&#39;;
<a href="#l11" class="line" id="l11">     11</a> 
<a href="#l12" class="line" id="l12">     12</a> import { gradeClassAtom } from &#39;../atoms&#39;;
<a href="#l13" class="line" id="l13">     13</a> 
<a href="#l14" class="line" id="l14">     14</a> export default function SetMyClassFab() {
<a href="#l15" class="line" id="l15">     15</a> 	const { enqueueSnackbar } = useSnackbar();
<a href="#l16" class="line" id="l16">     16</a> 	const [visible, handlers] = useDisclosure(false);
<a href="#l17" class="line" id="l17">     17</a> 	const isPwa = useIsPwa();
<a href="#l18" class="line" id="l18">     18</a> 
<a href="#l19" class="line" id="l19">     19</a> 	const [defaultGradeClass, setDefaultGradeClass] = useMyClass();
<a href="#l20" class="line" id="l20">     20</a> 	const thisGradeClass = useAtomValue(gradeClassAtom);
<a href="#l21" class="line" id="l21">     21</a> 
<a href="#l22" class="line" id="l22">     22</a> 	const handleClick = () =&gt; {
<a href="#l23" class="line" id="l23">     23</a> 		handlers.close();
<a href="#l24" class="line" id="l24">     24</a> 		if (thisGradeClass) {
<a href="#l25" class="line" id="l25">     25</a> 			setDefaultGradeClass(thisGradeClass);
<a href="#l26" class="line" id="l26">     26</a> 			enqueueSnackbar({
<a href="#l27" class="line" id="l27">     27</a> 				message: `${thisGradeClass} を所属クラスとして設定しました。\nホーム画面からの起動時に ${thisGradeClass} の時間割を表示します。\n所属クラスは「設定」ページから変更できます。`,
<a href="#l28" class="line" id="l28">     28</a> 				autoHideDuration: 10000,
<a href="#l29" class="line" id="l29">     29</a> 				variant: &#39;success&#39;,
<a href="#l30" class="line" id="l30">     30</a> 			});
<a href="#l31" class="line" id="l31">     31</a> 		}
<a href="#l32" class="line" id="l32">     32</a> 	};
<a href="#l33" class="line" id="l33">     33</a> 
<a href="#l34" class="line" id="l34">     34</a> 	useTimeout(handlers.open, 3000);
<a href="#l35" class="line" id="l35">     35</a> 
<a href="#l36" class="line" id="l36">     36</a> 	return (
<a href="#l37" class="line" id="l37">     37</a> 		&lt;Zoom in={visible &amp;&amp; isPwa &amp;&amp; defaultGradeClass === null}&gt;
<a href="#l38" class="line" id="l38">     38</a> 			&lt;Fab
<a href="#l39" class="line" id="l39">     39</a> 				onClick={handleClick}
<a href="#l40" class="line" id="l40">     40</a> 				color=&#39;primary&#39;
<a href="#l41" class="line" id="l41">     41</a> 				variant=&#39;extended&#39;
<a href="#l42" class="line" id="l42">     42</a> 				size=&#39;medium&#39;
<a href="#l43" class="line" id="l43">     43</a> 				sx={{
<a href="#l44" class="line" id="l44">     44</a> 					position: &#39;absolute&#39;,
<a href="#l45" class="line" id="l45">     45</a> 					left: 0,
<a href="#l46" class="line" id="l46">     46</a> 					bottom: 0,
<a href="#l47" class="line" id="l47">     47</a> 					width: &#39;fit-content&#39;,
<a href="#l48" class="line" id="l48">     48</a> 				}}
<a href="#l49" class="line" id="l49">     49</a> 			&gt;
<a href="#l50" class="line" id="l50">     50</a> 				&lt;SchoolIcon sx={{ mr: 1 }} /&gt;
<a href="#l51" class="line" id="l51">     51</a> 				所属クラスに設定
<a href="#l52" class="line" id="l52">     52</a> 			&lt;/Fab&gt;
<a href="#l53" class="line" id="l53">     53</a> 		&lt;/Zoom&gt;
<a href="#l54" class="line" id="l54">     54</a> 	);
<a href="#l55" class="line" id="l55">     55</a> }
</pre>
</div>
</body>
</html>
